:host ::ng-deep {
    $home_page_bg: #C4C4C4;
    $dashbord_bg: #F5F7FA;
    $yellow: #c2a160;
    .loading-layout {
        -webkit-animation-name: zoomInUp;
        animation-name: zoomInUp;
        scroll-behavior: smooth;
        background: #333;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        color: $yellow;
        z-index: 999999999999;
        .inner-con {
            width: 100%;
            height: 100%;
        }
        img {
            width: 60px;
            height: 60px;
        }
    }
}