<div class="main-layout">
    <header class="main-header">
        <mat-toolbar class="d-flex justify-content-between align-items-center align-content-center bg-transparen shadow-sm-fb h-100 w-100 pr-sm-0">
            <!-- <div class=""> -->
            <div>
                <a mat-icon-button routerLinkActive="active" routerLink="/app">
                    <img width="40px" height="40px" src="assets/img/logo-1.png">
                    <span mat-line class="logo-name text-yellow text-bolder">Finance</span>
                </a>
            </div>

            <div *ngIf="!isHandset" class="h-100">
                <button class=" shadow-none h-100  color-yellow rounded-0" routerLink="/app" mat-button>
                    Home
                </button>
                <button class=" shadow-none h-100 rounded-0" routerLink="/app" mat-button>
                    About Us
                </button>
                <button class=" shadow-none h-100 rounded-0" routerLink="/app" mat-button>
                Products
            </button>

                <button class=" shadow-none h-100 rounded-0" routerLink="/app" mat-button>
                Contact Us
            </button>

                <button class="h-100 color-yellow shadow-none reg-btn rounded-0 ml-3 px-5" routerLink="/app" mat-raised-button>
                        LOGIN
                    </button>
                <button class="border-left h-100 reg-btn shadow-none rounded-0 px-5" routerLink="/app" mat-raised-button>
                        REGISTER
                </button>
            </div>

            <div *ngIf="isHandset" class="h-100">
                <button mat-fab class="bg-yellow  h-100 rounded-0 shadow-none" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon class="color-dark  text-bold">menu</mat-icon>
                      </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                          <mat-icon class="color-yellow">home</mat-icon>
                          <span>Home</span>
                        </button>

                    <button mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>About</span>
                          </button>

                    <button mat-menu-item>
                            <mat-icon>widgets</mat-icon>
                            <span>Investment Plans</span>
                          </button>

                    <button mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>Contact</span>
                          </button>

                    <button mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>Terms</span>
                          </button>

                    <div mat-menu-item class="">
                        <button class="shadow-sm-fb w-100 color-yellow" routerLink="/app" mat-raised-button>
                                 LOGIN
                            </button>
                    </div>
                    <div mat-menu-item>
                        <button class="shadow-none w-100 app-bg-dark color-yellow" routerLink="/app" mat-raised-button>
                                REGISTER
                            </button>
                    </div>

                </mat-menu>
            </div>

            <!-- </div> -->
        </mat-toolbar>
    </header>
    <div>
        <router-outlet>
        </router-outlet>
    </div>
</div>