:host ::ng-deep {
    .main-layout {
        height: 100vh;
        // background-image: url('../../../../assets/img/undraw_digital_currency_qpak\ 1.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        header {
            position: fixed;
            width: 100%;
            z-index: 100;
            .mat-toolbar {
                height: 54px !important;
                background-color: rgb(0, 0, 0, 0.9);
            }
        }
        .home-logo {
            width: 40px;
            height: 40px;
        }
        .logo-name {
            font-size: 25px;
            font-weight: 900 !important;
            span {
                font-size: inherit !important;
                font-weight: inherit !important;
            }
        }
        @media (min-width: 768px) {}
        @media (max-width: 991.93px) {}
        @media (max-width: 767.93px) {
            header {
                margin-bottom: 0 !important;
                .mat-toolbar.main {
                    height: 45px !important;
                }
            }
            header .container-fluid {
                padding-left: 0;
                padding-right: 0;
            }
            header {
                .mat-toolbar {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}