:host ::ng-deep {
    $main-gray: #ccd6dd;
    $main-blue: #1da1f2;
    $main-black: #000000;


    .page-not-found{
        min-height: 100vh;
        background-color: #ffffff;
        padding-top: 80px;

        h1{
            strong{
                font-size: inherit;
                font-weight: bolder !important;
            }
        }

        
        
        .search-con{

img{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group-append{
    .input-group-text{
        border-top-right-radius: 90rem;
        border-bottom-right-radius: 90em;
        background-color: #ffffff;
        border-left-color: transparent !important;
     
    }
}

.input-group-prepend{
    .input-group-text{
        border-top-left-radius: 90rem;
        border-bottom-left-radius: 90rem;
        background-color: #ffffff;
        border-right-color: transparent !important;
    }
}
.input-group{
    width: 60%;
    margin: 0 auto;
}
button{
    margin-top: 20px;
}

        }
       
    }

    @media (max-width:767px){
        // Page not found
        .page-not-found{
            .input-group{
                border-radius: 90px;
                width: 100%;
            }
        } 
    }
}