<div class="page-not-found">
    <div class="container text-center ">
        <h1 class="text-bolder-black ">Page <strong class="text-danger"> Not </strong> Found</h1>
        <p class="text-muted text-center">Sorry, the page you are searching does not exist or is being deleted..</p>
       

        <div class="search-con">
        <img src="../../../assets/img/logo-shadow.svg">
            <div class="form">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <!-- <button mat-raised-button mat-icon-button > -->
                                <mat-icon>person</mat-icon>
                            <!-- </button>  -->
                        </span>
                    </div>
               
                <input class="form-control" placeholder="Search something">

                <div class="input-group-append">
                    <span class="input-group-text">
                        <!-- <button mat-raised-button mat-icon-button > -->
                            <mat-icon>person</mat-icon>
                        <!-- </button>  -->
                    </span>
                </div>
            </div>
                <div>
                    <button mat-raised-button class="btn-rounded">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
