<ngb-carousel>
    <ng-template ngbSlide>

        <div class="carousel-caption">
            <h3>Make Intelligent Plans for your Money one</h3>
            <p>
                Our Millennium Crypto Trade business offers a full range of investment for all the countries. Enjoy real benefits and rewards on Millennium Crypto Trade2.

            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <!-- <img  src="../../../../assets/img/slider03.jpg" alt="Bangalore Metro">   -->
        <div class="carousel-caption">
            <h3>Optio recusandae asperiores facere porro repellat</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae asperiores facere porro repellat iure ullam aperiam, quibus
            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <!-- <img src="../../../../assets/img/undraw_digital_currency_qpak 1.svg"  alt="Jaipur Metro">   -->
        <div class="carousel-caption">
            <h3>Make Intelligent Plans for your Money three</h3>
            <p>
                Our Millennium Crypto Trade business offers a full range of investment for all the countries. Enjoy real benefits and rewards on Millennium Crypto Trade2.

            </p>
        </div>
    </ng-template>

</ngb-carousel>