:host ::ng-deep {
    $dashbord_bg: #f0f2f5;
    $yellow: #c2a160;
    .upgrade-account {
        min-height: 100vh;
        .mat-icon {
            vertical-align: middle;
        }
        .card {
            border-radius: 15px;
            button {
                // background-color: #f0f2f5 !important;
                font-weight: 500 !important;
            }
        }
    }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $yellow;
    }
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        color: $yellow;
        background-color: $yellow;
    }
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
        background-color: rgb(255, 37, 37, .26);
    }
    .t-white {
        color: #FFFFFF !important;
    }
    @media (min-width: 768px) {
        .container {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}