<div class="upgrade-account pt-3">
    <div class="container">
        <mat-radio-group aria-label="Select an option">
            <p>
                <mat-icon class="text-primary">info</mat-icon> Add your withdrawal account info. You can add multiple withdrawal methods but can only withdral your money with the active one.
            </p>
            <div class="row">


                <!-- Bank transfer -->
                <div class="col-lg-6 animated fadeInUp">
                    <div class="card shadow-sm-fb border-0">
                        <div class="card-body ">
                            <div class="d-flex justify-content-between">
                                <p class="title">
                                    Bank transfer
                                </p>
                                <mat-radio-button value="auto">Active</mat-radio-button>
                            </div>

                            <p>
                                <mat-form-field class="w-100">
                                    <mat-label>Bank Name</mat-label>
                                    <input required matInput placeholder="Bank Name">
                                    <mat-icon matSuffix class="text-muted">credit_card</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field class="w-100">
                                    <mat-label>Account Name</mat-label>
                                    <input required matInput placeholder="Account Name">
                                    <mat-icon matSuffix class="text-muted">credit_card</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>

                            <p>
                                <mat-form-field class="w-100">
                                    <mat-label>Account Number</mat-label>
                                    <input required matInput placeholder="Account Number">
                                    <mat-icon matSuffix class="text-muted">credit_card</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>
                            <div class="d-flex justify-content-end">
                                <div>
                                    <button class="btn-rounded" mat-raised-button>
                               Save  Changes
                           </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 ml-auto animated fadeInUp delay-1s">
                    <div class="card shadow-sm-fb border-0 mb-4">
                        <div class="card-body ">

                            <div class="d-flex justify-content-between">
                                <p class="title">Bitcoin</p>
                                <mat-radio-button value="auto">Active</mat-radio-button>
                            </div>

                            <p>
                                <mat-form-field class="w-100">
                                    <mat-label>BTC Address</mat-label>
                                    <input required matInput placeholder="BTC Address">
                                    <mat-icon matSuffix class="text-muted">format_bold</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>


                            <div class="d-flex justify-content-end">
                                <div>
                                    <button class="btn-rounded" mat-raised-button>
                               Save  Changes
                           </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow-sm-fb border-0 mb-4">
                        <div class="card-body ">

                            <div class="d-flex justify-content-between">
                                <p class="title">Litecoin</p>
                                <mat-radio-button value="auto">Active</mat-radio-button>
                            </div>

                            <p>
                                <mat-form-field class="w-100">
                                    <mat-label>LTC Address</mat-label>
                                    <input required matInput placeholder="BTC Address">
                                    <mat-icon matSuffix class="text-muted">attach_money</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>
                            <div class="d-flex justify-content-end">
                                <div>
                                    <button class="btn-rounded" mat-raised-button>
                               Save  Changes
                           </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow-sm-fb border-0 mb-4">
                        <div class="card-body ">

                            <div class="d-flex justify-content-between">
                                <p class="title">Ethereum</p>
                                <mat-radio-button value="auto">Active</mat-radio-button>
                            </div>
                            <p>
                                <mat-form-field class="w-100">
                                    <mat-label>ETH Addres</mat-label>
                                    <input required matInput placeholder="BTC Address">
                                    <mat-icon matSuffix class="text-muted">attach_money</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>


                            <div class="d-flex justify-content-end">
                                <div>
                                    <button class="btn-rounded" mat-raised-button>
                               Save  Changes
                           </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-radio-group>
    </div>

</div>