<!-- <header mat-dialog-title class="text-center">
    <mat-icon class="color-gray">videocam</mat-icon>
    <span class="mb-0">Video call</span>
</header> -->

<main mat-dialog-content class="text-center content">
    <div>
        <mat-icon class="color-gray">videocam</mat-icon>
    </div>
    <button class="color-pink btn-rounded  px-5 my-4" tabindex="-1" mat-raised-button>VIDEO CALL</button>
</main>

<footer mat-dialog-actions>
    <div class="text-center w-100">
        <button mat-icon-button mat-raised-button class="bg-success text-white" tabindex="-1">
        <mat-icon>videocam</mat-icon>
    </button>
        <button mat-icon-button mat-raised-button class="ml-5 bg-primary text-white" tabindex="-1">
        <mat-icon>pause</mat-icon>
    </button>
        <button mat-dialog-close mat-icon-button mat-raised-button class="ml-5" color="warn" tabindex="-1">
        <mat-icon>close</mat-icon>
    </button>
    </div>
</footer>