<div mat-dialog-title class="mb-5 text-center">
    <h5>#Connected Users</h5>
</div>
<div mat-dialog-content class="mb-5">
    <div class="row py-3">
        <div class="col mx-auto text-center">
            <button class="shadow-sm" tabindex="-1" mat-icon-button>
                <mat-icon class=" text-muted">person</mat-icon>
            </button> {{data.user}}
        
            . <small class="text-success-2">Online</small>
        </div>
        <div class="col mx-auto text-center">
            <button class="shadow-sm" tabindex="-1"  mat-icon-button>
                <mat-icon class=" text-muted">person</mat-icon>
            </button> 
            Goodluck
            . <small class="text-success-2">Online</small>
        </div>
    </div>
</div>
<div mat-dialog-actions class="">
    <div class="d-flex justify-content-end w-100">
        <button class="float-right" mat-button color="warn" tabindex="-1" mat-dialog-close>Close</button>
    </div>
</div>
