:host ::ng-deep {
    $home_page_bg: #C4C4C4;
    $dashbord_bg: #F5F7FA;
    $yellow: #f3cb00;
    // Globa
    .mat-icon {
        vertical-align: middle !important;
    }
    .investment-plan {
        min-height: 100vh;
        // background-color: $home_page_bg;
        iframe {
            min-height: 100vh;
        }
        .mat-card {
            border-radius: 15px;
            background-color: #eeeeee;
            // background-color: rgb(29, 29, 29);
            .mat-card-title {
                // color: $yellow;
            }
            .price {
                .mat-card-title {
                    font-size: 40px;
                    // color: $yellow;
                    .mat-icon {
                        width: 60px;
                        height: 60px;
                        font-size: 60px;
                        // display: none;
                    }
                }
            }
            button {
                // background-color: ;
            }
        }
    }
}