:host ::ng-deep {
    $yellow: #c2a160;
    main {
        height: 100vh !important;
        h1 {
            font-size: 100px !important;
            font-weight: 900 !important;
        }
    }
    .home-slide-con {
        .carousel-caption {
            // text-align: left !important;
            h3 {
                font-weight: 900;
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
        .carousel-item {
            height: 100vh !important;
            background-size: cover !important;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-animation-duration: 1s;
            &::after {
                background-color: rgba(0, 0, 0, 0.1);
                // background-color: blueviolet !important;
                // background-image: linear-gradient(160deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3))!important;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 9;
            }
        }
        .carousel-item:nth-child(1) {
            background-image: url('../../../../assets/img/slider01.jpg');
        }
        .carousel-item:nth-child(2) {
            background-image: url('../../../../assets/img/slider03.jpg');
        }
        .carousel-item:nth-child(3) {
            background-image: url('../../../../assets/img/slide04.jpg');
            .carousel-caption {
                color: #000 !important;
            }
        }
        .carousel-item {
            display: block !important;
            position: absolute;
            transform: translateX(100%);
            opacity: 0;
            transition: all 1s;
        }
        .carousel-item.active {
            position: relative;
            transform: translateX(0);
            opacity: 1;
            top: 0;
        }
        // img{
        //     width: 100%;
        //     height:  500px;
        // }
    }
    @media (min-width: 768px) {}
    @media (max-width: 991.93px) {}
    @media (max-width: 767.93px) {
        main {
            // height: 100vh !important;
            h1 {
                font-size: 60px !important;
                font-weight: 900 !important;
            }
            button {
                width: 100% !important;
            }
        }
        .carousel-caption {
            text-align: left !important;
            h3 {
                font-weight: 900;
                font-size: 40px;
                margin-bottom: 20px;
                width: 100%;
            }
        }
        // Welcome screen
    }
}