<div class="home-slide-con">
    <!-- <app-home-slide></app-home-slide> -->

</div>


<main class="d-flex justify-content-center align-items-center">
    <div class="text-center px-5 pt-5">
        <h1 class="text-white text-center mb-5">BULB
            <div class="color-yellow d-inline-block">FINANCE</div>
        </h1>

        <div>
            <button class="color-yellow  shadow-lg  border-info px-5 py-2" routerLink="/app" mat-raised-button>
                LOGIN <mat-icon>arrow_right_alt</mat-icon>
            </button>
            <button class="app-bg-dark  color-yellow px-5 py-2 ml-lg-5 mt-sm-3" routerLink="/app" mat-raised-button>
                REGISTER <mat-icon>arrow_right_alt</mat-icon>
                </button>
        </div>
        <div class="w-lg-50 mx-auto mt-5 text-center">
            <img class=" w-100   mt-3" src="assets/img/download.png">
        </div>

    </div>
</main>