<div class="home-page">
    <header class="mian-header">
        <mat-toolbar>
            <div class="d-flex justify-content-between align-items-center align-content-center w-100">
                <div>
                    <a mat-icon-button routerLinkActive="active" routerLink="/app">
                        <img class="home-logo" src="/assets/img/logo-1.svg">
                    </a>
                </div>

                <div>
                    <button class="ml-3 btn-rounded" routerLink="/app" mat-raised-button>
                        <mat-icon>security</mat-icon> Login
                    </button>
                    <button class="ml-3 btn-rounded btn-yellow" routerLink="/app" mat-raised-button>
                        <mat-icon>person</mat-icon> Rigister
                    </button>
                </div>

            </div>
        </mat-toolbar>
    </header>

    <div class="home-slide-con">
        <app-home-slide></app-home-slide>
    </div>

    <!-- <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/embed-widget/forex-cross-rates/?locale=en#%7B%22currencies%22%3A%5B%22EUR%22%2C%22USD%22%2C%22JPY%22%2C%22BTC%22%2C%22ETH%22%2C%22LTC%22%2C%22GBP%22%2C%22CHF%22%2C%22AUD%22%2C%22CAD%22%2C%22NZD%22%2C%22CNY%22%5D%2C%22width%22%3A%22100%25%22%2C%22height%22%3A%22100%25%22%2C%22utm_source%22%3A%22www.accounts.millenniumcryptotrade2.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22forex-cross-rates%22%7D" 
style="box-sizing: border-box; height: calc(100% - 32px); width: 100%;"></iframe> -->


</div>