:host ::ng-deep {
    $home_page_bg: #C4C4C4;
    $dashbord_bg: #F5F7FA;
    $yellow: #c2a160;
    $app_gray_light: #485466;
    $app_gray_dark: #313b46;
    $app_gray_darker: #1d232a;
    $app_yellow_light: #b05532;
    $app_yellow_dark: #6b4d23;
    // Globa
    .mat-card {
        border-radius: 10px !important;
    }
    .mat-icon {
        vertical-align: middle !important;
    }
    .router-con {
        min-height: 100vh;
    }
    .marquee {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .marquee p {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 15s linear infinite;
        color: #1aa15f;
        font-weight: 700 !important;
        font-size: 20px;
        text-transform: capitalize;
        span {
            font-size: inherit;
            font-weight: inherit;
            // color: $yellow;
            // background-color: #000;
        }
    }
    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-100%, 0);
        }
    }
    .welcome-smg {
        // width: 2000px;
        // overflow-x: scroll;
    }
    .ddd {
        width: 100%;
        // height: 200px;
        // background-color: #eee;
        overflow-x: auto;
        margin: 0 auto;
        // padding-top: 20px;
    }
    // link-box
    .link-box {
        background-image: linear-gradient(-60deg, $app_gray_dark, $app_gray_darker 90%) !important;
        // background-image: linear-gradient(70deg, $app_gray_dark, $app_gray_light 90%) !important;
        height: 150px;
        box-shadow: 0 0 10px $app_gray_darker;
        // border: 3px solid $app_yellow_dark;
        .mat-icon {
            font-size: 50px;
            height: 50px !important;
            color: $yellow !important;
            width: 50px !important;
        }
        p {
            color: #ffffff;
            font-size: 18px;
            opacity: 0.5;
        }
        &:hover {
            cursor: pointer;
            background-image: linear-gradient(60deg, $app_gray_dark, $app_gray_dark 90%) !important;
            border-color: #fff !important;
            p {
                opacity: 1;
            }
            .mat-icon {
                color: $yellow !important;
            }
            h3 {
                color: $yellow;
            }
        }
    }
    header.mobile-header {
        position: sticky;
        top: 0;
        z-index: 100;
        .mat-toolbar {
            height: 56px;
            .mat-icon {
                vertical-align: middle;
                // color: red;
            }
        }
    }
    .dashboard-home {
        min-height: 100vh;
        // background-color: $home_page_bg;
        // background-color: #f0f2f5;
        .title {
            font-size: 20px !important;
            font-weight: 800 !important;
            color: #000000 !important;
        }
        iframe {
            min-height: 100vh;
        }
    }
    @media (min-width: 768px) {
        .container {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    @media (max-width: 767px) {
        .link-box-con {
            // border: 1px solid red;
            width: 80%;
        }
        .link-box {
            height: 150px;
            width: 100%;
            .mat-icon {
                font-size: 30px !important;
                height: 30px !important;
                width: 30px !important;
                // margin: 0 auto !important;
            }
        }
    }
}