:host ::ng-deep {
    $pink: #FD287B;
    $orange: #FF7058;
    $home_page_bg: #C4C4C4;
    $dashbord_bg: #F5F7FA;
    // .mat-toolbar {
    //     background: $dashbord_bg !important;
    //     position: sticky;
    //     top: 0;
    //     z-index: 1;
    //     height: 56px;
    // }
    .mat-icon{
        vertical-align: middle !important;
    }
    .router-con {
        min-height: 100vh;
    }

    header.mobile-header {
        position: sticky;
        top: 0;
        z-index: 100;
        .mat-toolbar {
            height: 56px;
            // background-color: transparent;
            // background-color: $home_page_bg;
            .mat-icon {
                // color: #dadfe6;
                // font-size: 30px;
                // width: 30px;
                // height: 30px;
                vertical-align: middle;
                // color: red;
            }
        }
    }



    .dashboard-home{
        min-height: 100vh;
        // background-color: $home_page_bg;

        iframe{
            min-height: 100vh;  
        }
    }


}