<!-- <app-loading-layout></app-loading-layout> -->
<div class="dashboard-home pt-3">
    <div class="container">
        <section class="welcome-smg marquee">
            <p>Welcome to Bitcoin Easy Platform</p>
        </section>
        <section class="welcome-smg">
            <div class="row  animated fadeInUp">

                <div class="col-lg-2 col-md-6 col-sm-6   mb-4 ">
                    <mat-card routerLink="transaction-logs" r class="link-box shadow-sm-fb">
                        <div class="d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>cached</mat-icon>
                                <h3>Transactions</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 mb-4 ">
                    <mat-card routerLink="investment-plans" class="link-box shadow-sm-fb">
                        <div class="d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>widgets</mat-icon>
                                <h3>Investment Plans</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>



                <div class="col-lg-2 col-md-6 col-sm-6 mb-4">
                    <mat-card routerLink="upgrade-account" class="link-box shadow-sm-fb">
                        <div class="d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>account_balance_wallet</mat-icon>
                                <h3>Upgrade Accounts</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 mb-4">
                    <mat-card routerLink="refer" class="link-box shadow-sm-fb">
                        <div class="">
                            <div class="link-box-text">
                                <mat-icon>group</mat-icon>
                                <h3>Refer a User</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6  mb-4 ">
                    <mat-card routerLink="deposite" class="link-box shadow-sm-fb">
                        <div class="d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon>add_box</mat-icon>
                                <h3>Deposite</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 mb-4 ">

                    <mat-card routerLink="support" class="link-box shadow-sm-fb active">
                        <div class="d-flex align-content-center align-items-center justify-content-center">
                            <div class="link-box-text">
                                <mat-icon class="color-primary">contact_support</mat-icon>
                                <h3>Get Support</h3>
                            </div>
                        </div>
                    </mat-card>

                </div>
            </div>
        </section>

        <section class="pt-3">
            <p class="title">
                <!-- <mat-icon class="headline-icon mr-3">bar_chart</mat-icon>  -->
                Forex Market Fundamental Data</p>
            <div>
                <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/embed-widget/forex-cross-rates/?locale=en#%7B%22currencies%22%3A%5B%22EUR%22%2C%22USD%22%2C%22JPY%22%2C%22BTC%22%2C%22ETH%22%2C%22LTC%22%2C%22GBP%22%2C%22CHF%22%2C%22AUD%22%2C%22CAD%22%2C%22NZD%22%2C%22CNY%22%5D%2C%22width%22%3A%22100%25%22%2C%22height%22%3A%22100%25%22%2C%22utm_source%22%3A%22www.accounts.millenniumcryptotrade2.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22forex-cross-rates%22%7D"
                    style="box-sizing: border-box; height: calc(100% - 32px); width: 100%;"></iframe>
            </div>
            <div class="mt-5">
                <iframe id="tradingview_0dc50" src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_0dc50&amp;symbol=COINBASE%3ABTCUSD&amp;interval=1&amp;hidesidetoolbar=0&amp;symboledit=1&amp;saveimage=1&amp;toolbarbg=f1f3f6&amp;studies=BB%40tv-basicstudies&amp;theme=Light&amp;style=9&amp;timezone=Etc%2FUTC&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=www.accounts.millenniumcryptotrade2.com&amp;utm_medium=widget_new&amp;utm_campaign=chart&amp;utm_term=COINBASE%3ABTCUSD"
                    style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen=""></iframe>
            </div>
        </section>

    </div>
</div>