<div class="profile pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- <p><span><mat-icon>security</mat-icon> Name:</span> <span>Jhon Doe</span></p>
                <p><span><mat-icon>security</mat-icon> Name:</span> <span>Jhon Doe</span></p>
                <p><span><mat-icon>security</mat-icon> Name:</span> <span>Jhon Doe</span></p>
                <p><span><mat-icon>security</mat-icon> Name:</span> <span>Jhon Doe</span></p> -->

                <div class="card border-0">
                    <div class="card-body ">
                        <p class="title">Basic Info</p>
                        <p>
                            <mat-form-field class="w-100">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name">
                                <mat-icon matSuffix class="text-muted">person</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="w-100">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name">
                                <mat-icon matSuffix class="text-muted">person</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email">
                                <mat-icon matSuffix class="text-muted">security</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>
                        <div class="d-flex justify-content-end">
                            <div>
                                <button class="btn-rounded" mat-raised-button>
                               Save  Changes
                           </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ml-auto">

                <div class="card border-0 mb4">
                    <div class="card-body ">
                        <p class="title">Change Password</p>
                        <p>
                            <mat-form-field class="w-100">
                                <mat-label>Old Password</mat-label>
                                <input matInput placeholder="Old Password">
                                <mat-icon matSuffix class="text-muted">security</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="w-100">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="New Password">
                                <mat-icon matSuffix class="text-muted">security</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field class="w-100">
                                <mat-label>Re-Type Password</mat-label>
                                <input matInput placeholder="Re-Type Password">
                                <mat-icon matSuffix class="text-muted">security</mat-icon>
                                <mat-hint>Hint</mat-hint>
                            </mat-form-field>
                        </p>
                        <div class="d-flex justify-content-end">
                            <div>
                                <button class="btn-rounded" mat-raised-button>
                               Save  Changes
                           </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>