:host ::ng-deep {
    $home_page_bg: #C4C4C4;
    $dashbord_bg: #F5F7FA;
    $yellow: #f3cb00;
    a {
        text-decoration: none !important;
        &:hover {
            text-decoration: none !important;
        }
    }
    // overrides
    .sidenav-container {
        height: 100%;
        .logo {
            width: 35px;
            height: 35px;
        }
        .logo-name {
            font-weight: 700;
        }
    }
    // .mat-sidenav-inner-con {
    //     height: calc(100vh - 56px);
    //     border: 1px solid #eee;
    //     overflow-y: scroll;
    // }
    .sidenav {
        width: 300px;
        border: 0 !important;
        overflow-x: hidden;
        background-color: #000;
        // background-color: transparent;
        // background-color: #f0f2f5;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0;
        border: 0;
        .mat-toolbar {
            height: 56px;
            background-color: #000;
            color: $yellow;
        }
        .sidenav-action {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 20;
        }
        .mat-list {
            .mat-icon {
                // color: $home_page_bg !important;
            }
        }
        .mat-list-item .mat-button-wrapper {
            margin-left: 0 !important;
            // display: none;
        }
    }
    .mat-list-base .mat-list-item .mat-list-item-content {
        padding-left: 15px;
        padding-right: 15px;
        .mat-list-text {
            color: #343a40;
            font-weight: bolder !important;
        }
        &:hover {
            // background-color: transparent;
            background-color: rgb(20, 20, 20) !important;
            opacity: 1;
            .mat-list-text {
                // color: gray !important;
                // background-color: gray !important;
            }
        }
    }
    .mat-sidenav-content {
        //   background-color:#f0f2f5;
        // background-color: #ffffff;
        background-color: #f0f2f5;
        header.mian-header {
            position: sticky;
            top: 0;
            z-index: 100;
            .mat-toolbar {
                height: 56px;
                // background-color: transparent;
                background-color: #000;
                .mat-icon {
                    // color: #dadfe6;
                    // font-size: 30px;
                    // width: 30px;
                    // height: 30px;
                    // vertical-align: middle;
                    // color: red;
                }
            }
        }
    }
    .add-btn {
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            /* background: #08e6c2; */
            background-color: $yellow;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            z-index: -1 !important;
        }
    }
    @keyframes pulse-border {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.8);
            opacity: 0
        }
    }
    //////// Responsive ////////////
    @media (max-width: 991.93px) {
        .mat-toolbar {
            overflow-x: scroll;
        }
    }
    @media (min-width:768px) {
        // .ipage-red {
        //     background: yellow !important;
        // }
    }
    @media (min-width: 768px) {
        // .sidenav {
        //     width: 100%;
        // }
        .hide-desktop {
            display: none !important;
        }
         ::-webkit-scrollbar,
         ::-webkit-scrollbar-thumb {
            width: 7px;
            border-radius: 10px;
            background-clip: padding-box;
            height: 5px;
            background-color: #d8d9da;
        }
         ::-webkit-scrollbar-thumb {
            background: gray;
        }
    }
    @media (max-width: 767px) {
        .sidenav-container {
            .logo {
                width: 30px;
                height: 30px;
            }
        }
    }
}