<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <header class="sidenav-header">
            <div class="d-flex justify-content-between align-items-center align-content-center w-100">
                <div>
                    <a mat-list-item>
                        <!-- <img class="logo" mat-line src="assets/img/logo-1.svg"> -->
                        <h3 mat-line class="text-white logo-name">Bulb Finance</h3>
                    </a>
                </div>
                <div>
                    <button class="bg-yellow" mat-icon-button>
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
        </header>

        <mat-list>
            <a (click)="closeMen(drawer)" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}" routerLink="/app">
                <mat-icon class="text-dark" mat-list-icon>home</mat-icon>
                <div mat-line>Dashboard</div>
            </a>

            <a (click)="closeMen(drawer)" mat-list-item routerLinkActive="active" [routerLink]="accnt.link" *ngFor="let accnt of account">
                <mat-icon [ngClass]="accnt.iconClass" mat-list-icon>{{accnt.icon}}</mat-icon>
                <div mat-line>{{accnt.name}}</div>
            </a>


            <a (click)="closeMen(drawer)" mat-list-item routerLinkActive="active" [routerLink]="plan.link" *ngFor="let plan of plans">
                <mat-icon [ngClass]="plan.iconClass" mat-list-icon>{{plan.icon}}</mat-icon>
                <div mat-line>{{plan.name}}</div>
            </a>


            <!-- <a (click)="closeMen(drawer)" [routerLink]="other.link" routerLinkActive="active" mat-list-item *ngFor="let other of others">
                <mat-icon mat-list-icon [ngClass]="other.iconClass">{{other.icon}}</mat-icon>

                <div mat-line>{{other.name}}</div>
            </a> -->
        </mat-list>


        <div class="mat-sidenav-inner-con">
            <div class="sidenav-action">
                <button class="bg-yellow add-btn text-black shadow" mat-icon-button mat-raised-button>
                    <mat-icon>color_lens</mat-icon>
        </button>
            </div>
        </div>
    </mat-sidenav>



    <mat-sidenav-content class="position-relative shadow" [ngClass]="isHandset? '': ''">
        <header class="main-header d-flex justify-content-between mb-5">
            <div class="start">
                <h1 class="mb-0 text-bolder text-white">Evening, Saint</h1>
                <p class="mb-0 text-white">Welcome to your own world 😎</p>
            </div>

            <div class="end d-flex justify-content-between align-items-center ">

                <div class="mr-4" *ngIf="!isHandset">
                    <div class="input-group bg-darker-light shadow rounded-10 py-1">
                        <input type="text" class="form-control bg-transparent border-0 " placeholder="Search something" aria-label="Amount (to the nearest dollar)">

                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent border-0">
                                <mat-icon class="color-yellow">search</mat-icon>
                            </span>
                        </div>
                    </div>
                </div>



                <button mat-fab class="bg-yellow-light profile-pic shadow ml-3" matTooltip="Add New Property" matTooltipClass="bg-dark">
    <!-- <mat-icon class="color-darker">person</mat-icon> -->
                </button>
            </div>
        </header>

        <div>
            <router-outlet>
            </router-outlet>
        </div>



        <footer class="main-footer">
            <mat-toolbar class="d-flex justify-content-between shadow">

                <div class="start">
                    <button mat-icon-button matTooltip="Add New Property" matTooltipClass="bg-dark">
                        <mat-icon class="text-bolder">add</mat-icon>
                    </button>
                </div>

                <div class="middle">
                    <button mat-fab matTooltip="Add New Property" matTooltipClass="bg-dark">
        <mat-icon class="text-bolder">add</mat-icon>
    </button>
                </div>

                <div class="end">
                    <button mat-icon-button matTooltip="Add New Property" matTooltipClass="bg-dark">
        <mat-icon class="text-bolder">add</mat-icon>
    </button>
                </div>
            </mat-toolbar>
        </footer>

        <!-- <footer class="px-4 mt-5">
            <p> &copy; Bitcoin App, 2020</p>
        </footer> -->



    </mat-sidenav-content>
</mat-sidenav-container>