:host ::ng-deep {
    $home_page_bg: #C4C4C4;
    $dashbord_bg: #F5F7FA;
    $yellow: #c2a160;
    $app_gray_light: #485466;
    $app_gray_dark: #313b46;
    $app_gray_darker: #1d232a;
    a {
        text-decoration: none !important;
        &:hover {
            text-decoration: none !important;
        }
    }
    // overrides
    .sidenav-container {
        // height: 100%;
        background-color: $app_gray_light !important;
        background-image: linear-gradient(to top, #2e3640, $app_gray_light 90%) !important;
        .logo {
            width: 35px;
            height: 35px;
        }
        .logo-name {
            font-weight: 700;
        }
    }
    // .mat-sidenav-inner-con {
    //     height: calc(100vh - 56px);
    //     border: 1px solid #eee;
    //     overflow-y: scroll;
    // }
    .sidenav {
        padding-top: 40px;
        padding-right: 30px;
        padding-left: 30px;
        width: 300px;
        border: 0 !important;
        background-color: transparent !important;
        height: 100vh;
        border: 0;
        header.sidenav-header {
            background-color: transparent !important;
            margin-bottom: 40px;
        }
        .sidenav-action {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 20;
        }
        .mat-list {
            .mat-icon {
                color: $yellow !important;
                width: 30px !important;
                height: 30px !important;
                font-size: 30px !important;
                // border-radius: 10px !important;
                // background-image: linear-gradient(to bottom, $app_gray_darker, $app_gray_dark 90%) !important;
            }
        }
        .mat-list-item .mat-button-wrapper {
            margin-left: 0 !important;
            // display: none;
        }
        .mat-list-text {
            color: #fff !important;
            // font-size: 14px;
            font-weight: 600 !important;
        }
    }
    .mat-list-base .mat-list-item .mat-list-item-content {
        padding-left: 15px;
        padding-right: 15px;
        .mat-list-text {
            color: #343a40;
            font-weight: bolder !important;
        }
        &:hover {
            // background-color: rgb(20, 20, 20) !important;
            opacity: 1;
            .mat-list-text {
                // color: gray !important;
                // background-color: gray !important;
            }
        }
    }
    .mat-sidenav-content {
        padding-top: 100px;
        background-image: linear-gradient(to right, $app_gray_dark, $app_gray_darker 90%);
        // background-image: linear-gradient($app_gray_dark, $app_gray_darker 90%);
        // background-image: linear-gradient($app_gray_dark, $app_gray_darker 100%);
        border-top-left-radius: 30px;
        height: 100vh;
        header.main-header {
            background-color: transparent;
            width: 100%;
            right: 0;
            z-index: 9999;
            top: 0;
            padding-right: 60px;
            padding-left: 60px;
            z-index: 100;
            .profile-pic {
                border: 5px solid #fff;
            }
        }
        footer.main-footer {
            display: none;
            position: fixed;
            width: calc(100vw - 300px);
            right: 0;
            z-index: 9999;
            bottom: 0;
            z-index: 100;
            .mat-toolbar {
                height: 50px;
                background-color: $app_gray_light !important;
            }
        }
    }
    .add-btn {
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            /* background: #08e6c2; */
            background-color: $yellow;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            z-index: -1 !important;
        }
    }
    @keyframes pulse-border {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.8);
            opacity: 0
        }
    }
    //////// Responsive ////////////
    @media (max-width: 991.93px) {
        .mat-toolbar {
            overflow-x: scroll;
        }
    }
    @media (min-width:768px) {
        // .ipage-red {
        //     background: yellow !important;
        // }
    }
    @media (min-width: 768px) {
        .hide-desktop {
            display: none !important;
        }
         ::-webkit-scrollbar,
         ::-webkit-scrollbar-thumb {
            width: 7px;
            border-radius: 10px;
            background-clip: padding-box;
            height: 10px;
            background-color: #d8d9da;
        }
         ::-webkit-scrollbar-thumb {
            background: gray;
        }
    }
    @media (max-width: 767px) {
        footer.main-footer {
            width: 100% !important;
            z-index: 9999;
        }
        .sidenav-container {
            .logo {
                width: 30px;
                height: 30px;
            }
        }
        .mat-sidenav-content {
            padding-top: 50px !important;
            border-top-left-radius: 0 !important;
            header.main-header {
                padding-right: 15px;
                padding-left: 15px !important;
            }
        }
    }
}