<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav shadow border-0" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="shadow-sm pl-0 pr-0">
            <!-- routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}" -->
            <div class="d-flex justify-content-between align-items-center align-content-center w-100">
                <div>
                        <a mat-list-item>
                          <img class="logo" mat-line src="../../../../assets/img/logo-1.svg">
                            <span mat-line  class="logo-name">Bitcoin Easy</span>
                        </a>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>

        <mat-list>
            <a mat-list-item  routerLink="/app">
                <mat-icon mat-list-icon>home</mat-icon>
                <div mat-line>Dashboard</div>
              </a>
              <mat-divider></mat-divider>
            <a mat-list-item  [routerLink]="accnt.link" *ngFor="let accnt of account">
              <mat-icon  mat-list-icon>{{accnt.icon}}</mat-icon>
              <div mat-line>{{accnt.name}}</div>
            </a>
            <mat-divider></mat-divider>
        
            <mat-list-item *ngFor="let plan of plans ">
              <mat-icon mat-list-icon>{{plan.icon}}</mat-icon>
              <div mat-line>{{plan.name}}</div>
            </mat-list-item>

            <mat-divider></mat-divider>
            <a  mat-list-item *ngFor="let other of others">
                    <div mat-list-icon>
                        <mat-icon [ngClass]="other.iconClass" >{{other.icon}}</mat-icon>
                </div>
                        <div mat-line>{{other.name}}</div>
           
              </a>
          </mat-list>


        <div class="mat-sidenav-inner-con">
            <div class="sidenav-action">
                <button class="bg-yellow add-btn text-black shadow" mat-icon-button mat-raised-button>
                    <mat-icon>color_lens</mat-icon>
        </button>
            </div>
        </div>
    </mat-sidenav>



    <mat-sidenav-content class="position-relative" [ngClass]="isHandset? '': ''">
        <header class="mian-header">
            <mat-toolbar class="shadow-sm">
                <div class="d-flex justify-content-between align-items-center align-content-center w-100">
                    <div>
                        <button mat-icon-button  routerLinkActive="active" routerLink="/app">
                            <!-- <mat-icon class="color-orange">home</mat-icon> -->
                        </button>
                    </div>
                   
                    <div>
                        <button class="bg-yellow" mat-icon-button mat-raised-button routerLinkActive="active" routerLink="users">
                            <!-- <mat-icon>group</mat-icon> -->
                        </button>
                        <button class="ml-3 bg-yellow" mat-icon-button mat-raised-button routerLink="profile">
                            <!-- <mat-icon>person</mat-icon> -->
                        </button>
                    </div>
                   
                </div>
            </mat-toolbar>
        </header>

        <div [ngClass]="isHandset? '': ''">
            <router-outlet>
            </router-outlet>
        </div>


        <footer class="px-4 mt-5">
            <p> &copy; Bitcoin App, 2020</p>
        </footer>

    </mat-sidenav-content>
</mat-sidenav-container>