<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav shadow bor" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="shadow-sm pl-0 pr-0">
            <div class="d-flex justify-content-between align-items-center align-content-center w-100">
                <div>
                    <a mat-list-item>
                        <img class="logo" mat-line src="../../../../assets/img/logo-1.svg">
                        <span mat-line class="logo-name">Bitcoin Easy</span>
                    </a>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>

        <mat-list>
            <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}" routerLink="/app">
                <mat-icon class="text-dark" mat-list-icon>home</mat-icon>
                <div mat-line>Dashboard</div>
            </a>

            <a mat-list-item routerLinkActive="active" [routerLink]="accnt.link" *ngFor="let accnt of account">
                <mat-icon [ngClass]="accnt.iconClass" mat-list-icon>{{accnt.icon}}</mat-icon>
                <div mat-line>{{accnt.name}}</div>
            </a>


            <a mat-list-item routerLinkActive="active" [routerLink]="plan.link" *ngFor="let plan of plans">
                <mat-icon [ngClass]="plan.iconClass" mat-list-icon>{{plan.icon}}</mat-icon>
                <div mat-line>{{plan.name}}</div>
            </a>



            <a [routerLink]="other.link" routerLinkActive="active" mat-list-item *ngFor="let other of others">
                <mat-icon mat-list-icon [ngClass]="other.iconClass">{{other.icon}}</mat-icon>

                <div mat-line>{{other.name}}</div>
            </a>
        </mat-list>


        <div class="mat-sidenav-inner-con">
            <div class="sidenav-action">
                <button class="bg-yellow add-btn text-black shadow" mat-icon-button mat-raised-button>
                    <mat-icon>color_lens</mat-icon>
        </button>
            </div>
        </div>
    </mat-sidenav>



    <mat-sidenav-content class="position-relative" [ngClass]="isHandset? '': ''">



        <header class="mian-header">
            <mat-toolbar>
                <div class="d-flex justify-content-between align-items-center  w-100">
                    <div class="d-flex justify-content-betwe" *ngIf="isHandset$ | async">
                        <button tabindex="-1" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                        <mat-icon class="text-yellow" aria-label="Side nav toggle icon">menu</mat-icon>
                        </button>
                    </div>


                    <div>
                        <!-- <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                        <mat-icon>search</mat-icon>
                                </span>
                            </div>

                            <input class="form-control" placeholder="Search something">
                        </div> -->
                    </div>


                    <div *ngIf="isHandset">
                        <span>
                            <a mat-list-item>
                                <img class="logo" mat-line src="../../../../assets/img/logo-1.svg">
                              </a>
                          </span>
                    </div>



                    <div>
                        <span>
                        <button  tabindex="-1" [ngClass]="isHandset? 'bg-transparent' : 'bg-dark'" class="ml-3 " mat-icon-button mat-raised-button routerLink="profile">
                        <mat-icon class="text-yellow">person</mat-icon>
                        </button>
                        <span *ngIf="!isHandset" class="text-yellow ml-3">Hi, Jhon Joe</span>
                        </span>
                        <button tabindex="-1" *ngIf="!isHandset" class="ml-5 btn-rounded bg-dark text-danger" routerLink="/app" mat-raised-button>
                        <mat-icon>power_settings_new</mat-icon> Logout
                    </button>
                    </div>

                </div>
            </mat-toolbar>
        </header>

        <div>
            <router-outlet>
            </router-outlet>
        </div>


        <footer class="px-4 mt-5">
            <p> &copy; Bitcoin App, 2020</p>
        </footer>



    </mat-sidenav-content>
</mat-sidenav-container>