/* You can add global styles to this file, and also import other style files */

$main-gray: #F5F5F5;
$main-blue: #1c9deb;
$main-black: #000000;
$pink: #FD287B;
$orange:#FF7058;
$home_page_bg: #C4C4C4;
$dashbord_bg:#F5F7FA;
$yellow: #c2a160;
$app_gray_light: #485466;
$app_gray_dark: #313b46;
$app_gray_darker: #1d232a;
$app_yellow_light:#b05532;
$app_yellow_dark:#6b4d23;
.app-bg-dark {
    background-color: $app_gray_dark !important;
}

.app-bg-darker {
    background-color: $app_gray_darker !important;
}

.bg-dark-darker {
    background-image: linear-gradient(to right, $app_gray_dark, $app_gray_darker 90%) !important;
}

.bg-darker-dark {
    background-image: linear-gradient(to right, $app_gray_darker, $app_gray_dark 90%) !important;
}

.bg-darker-light {
    background-image: linear-gradient(to right, $app_gray_darker, $app_gray_light 90%) !important;
}

.bg-dark-light {
    background-image: linear-gradient(70deg, $app_gray_dark, $app_gray_light 90%) !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.bg-yellow-dark {
    background-color: $app_yellow_dark !important;
}

.bg-yellow-light {
    background-color: $app_yellow_light !important;
}

.color-yellow {
    color: $yellow !important;
}

.color-yellow-light {
    color: $app_yellow_light !important;
}

.color-yellow-dark {
    color: $app_yellow_dark !important;
}

.color-darker {
    color: $app_gray_darker !important;
}

.color-dark {
    color: $app_gray_dark !important;
}

.color-pink {
    color: $pink !important;
}

.color-orange {
    color: $orange !important;
}

.color-gray {
    color: $home_page_bg !important;
}

.bg-pink {
    background-color: $pink !important;
}

.text-success-2 {
    color: #08e6c2 !important;
}

.home-page-bg {
    background-color: $home_page_bg !important;
}

.dashboard-bg {
    background-color: $dashbord_bg !important;
}

.btn-rounded {
    border-radius: 100px !important;
}

.bg-linear {
    background: linear-gradient(to right, $pink, $orange) !important;
}

.btn-linear {
    background: linear-gradient(to left, $pink, $orange);
}

.text-underline {
    text-decoration: underline !important;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

.logo {
    width: 40px;
    height: 40px;
}

.color-lighter-gray {
    color: rgba(0, 0, 0, 45%) !important;
}

html,
body {
    height: 100%;
    background: $app_gray_dark;
    background-image: url('./assets/img/logo-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8% !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
strong,
a,
span,
li,
input,
button,
textarea,
table td {
    font-weight: normal !important;
    font-size: 14px;
}

.shadow-sm-2 {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28) !important;
}

.border-radius-50 {
    border-radius: 50% !important;
}

.border-radius-8 {
    border-radius: 8px !important;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.sidenav .mat-nav-list .active {
    // color: #09a1ff !important;
    .mat-list-item-content .mat-icon {
        color: #09a1ff !important;
        // font-weight: bolder !important;
    }
}

.icon-gray {
    color: #ccd6dd !important;
}

.text-bolder {
    font-weight: bolder !important;
}

.text-bold {
    font-weight: bold !important;
}

.text-bolder-black {
    font-weight: bolder !important;
    color: #000000 !important;
}

.icon-hover-style:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    transition: 800ms;
}

// Custom
.main-color-blue {
    color: $main-blue !important;
}

.main-bg-blue {
    background-color: $main-blue !important;
}

.btn-yellow {
    background-image: linear-gradient(160deg, #ffc107 0, $yellow 100%)!important;
    &:hover {
        background-image: linear-gradient(160deg, yellow 0, yellow 100%)!important;
        // background-image: linear-gradient(160deg, #ffffff 0, #ffffff 100%)!important;
        // color: $yellow !important;
    }
}

.text-yellow {
    color: $yellow !important;
}

.btn-rounded {
    border-radius: 100px !important;
}

.main-btn-blue-outline {
    border-radius: 90px;
    background-color: transparent !important;
    color: $main-blue !important;
}

.main-gray-bg {
    background-color: #f5f8fa !important;
}

.bg-fa {
    background-color: #fafafa;
}

button:focus {
    outline: 1px dotted;
    outline: none !important;
    outline: 0 !important;
    outline: 0px auto $orange !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $orange;
    outline: 0;
    box-shadow: 0 0 0 0.1rem transparent;
}

input,
mat-select,
textarea {
    color: $yellow !important;
    // font-weight: 500;
    // background-color: #eee !important;
    // height: 100% !important;
    // position: absolute !important;
    // top: 0 !important;
}

mat-select {
    span {
        color: $yellow !important;
    }
}

.mat-list-base {
    padding-top: 0 !important;
}

.rounded-10 {
    border-radius: 10px !important;
}

// .mat-list .active {
//     // border-left: 3px solid $yellow !important;
//     .mat-icon {
//         color: #f8f8f8 !important;
//     }
//     .mat-list-text {
//         color: #f8f8f8 !important;
//     }
// }
.mat-list .active {
    .mat-icon {
        color: $yellow !important;
        width: 30px !important;
        height: 30px !important;
        font-size: 30px !important;
        padding: 5px !important;
        // background-image: linear-gradient(to bottom, $app_gray_darker, $app_gray_dark 90%) !important;
    }
    .mat-list-item-content {
        background-image: linear-gradient(to right, $app_gray_darker, $app_gray_dark 90%) !important;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .15)!important;
        .mat-list-text {
            color: $yellow !important;
        }
    }
}

footer.main-footer {
    .mat-fab.active {
        color: $yellow !important;
        border-color: $yellow !important
    }
}

.shadow-sm-fb {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0 !important;
}

.title {
    font-size: 25px !important;
    // font-weight: 800 !important;
    color: #000000;
}

.bg-black {
    background-color: #000 !important;
}

// Responsive
@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
     ::-webkit-scrollbar,
     ::-webkit-scrollbar-thumb {
        width: 7px;
        border-radius: 10px;
        background-clip: padding-box;
        height: 5px;
        background-color: #eee;
    }
     ::-webkit-scrollbar-thumb {
        background: gray;
    }
}

@media (max-width: 991.93px) {
    .hide-mobile-and-tablet {
        display: none !important;
    }
}

@media (max-width: 767.93px) {
    .hide-mobile {
        display: none !important;
    }
    html,
    body {
        background-size: 30% !important;
    }
}